p {
    font: Serif, Georgia;
    line-height: 1.5;
    font-size: 20px;
    color: #1f1d1d;
}

a {
    color: blue;
    font-size: 25px;
}

a:visited {
    color: green;
}

a:hover {
    color: limegreen;
}

body {
    max-width: 90%;
    margin: auto;
    background-color: #d3d3d3;
    background: -webkit-linear-gradient(180deg, rgb(124, 130, 135), rgb(20, 55, 90));
    background: linear-gradient(180deg, rgb(124, 130, 135), rgb(20, 55, 90));
    background-image: url(https://cdn.hipwallpaper.com/m/97/80/7qoESW.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

blockquote {
    max-width: 50%;
    margin: auto;
    font-size: 160%;
    background-color: #C0C0C0;
    border-left: 3px solid #b22222;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
}

.villager {
    border-left: 3px solid #000000;
}

.farmer {
    border-left: 3px solid #ffffff;
}

header h1 {
    background-color: yellow;
}

em {
    text-transform: uppercase;
}

.bien {
    color: red;
    text-transform: none;
}

.mal {
    color: green;
    text-transform: none;
}

tr:nth-child(even) {
    background-color: grey;
}

tr:nth-child(odd) {
    background-color: white;
}

li:nth-child(1) {
    background: url(images/bien.png);
    background-position: 370px;
    background-repeat: no-repeat;
    background-size: 1%;
}

li:nth-child(2) {
    background-image: url(images/mal.png);
    background-position: 380px;
    background-repeat: no-repeat;
    background-size: 1%;
}

li:nth-child(3) {
    background-image: url(images/chat.png);
    background-position: 420px;
    background-repeat: no-repeat;
    background-size: 1%;
}

header + p {
    font-weight: bold;
}